<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h2>WHOOOOOAAAAA! Something Went Wrong</h2>
    <img src="https://i.imgflip.com/5kfx5u.jpg?a466584" alt="Rigby from Regular Show">
    <p>Try again later dude <a href="/">go back home</a></p>
    <%- include('./partials/footer') %> 
</body>
</html>